<div class="mainContainer">
  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>

  <div class="mainBanBox">
    <div class="banBox"></div>
    <div class="lowerBanBox"></div>
  </div>
</div>
