<div class="mainContainer">
  <div class="heroBox">
    <div class="icon">
      <img src="../../../../assets/logos/strength.png" alt="" />
    </div>
    <div class="heroNameBox">
      <h2>Huskar</h2>
    </div>
  </div>

  <div class="pickBox">
    <button class="team Box">TEAM</button>
    <button class="ban Box">BAN</button>
    <button class="enemy Box">ENEMY</button>
  </div>

  <img
    class="bg-HeroImage"
    src="../../../../assets/images/heroimages/STRENGTH/huskar.png"
    alt="where is the hero pic"
  />
</div>
