<div class="mainContainer">
  <div class="heroSuggestionBox">
    <div class="left Box">
      <div class="header"><h3>CORE</h3></div>
      <ul>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/bloodseeker.png"
            />
            <div class="backgroundBox first"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/arc_warden.png"
            />
            <div class="backgroundBox second"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/phantom_lancer.png"
            />
            <div class="backgroundBox third"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/bane.png"
            />
            <div class="backgroundBox fourth"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/legion_commander.png"
            />
            <div class="backgroundBox fifth"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/bloodseeker.png"
            />
            <div class="backgroundBox sixth"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/brewmaster.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/dragon_knight.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/dark_seer.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/invoker.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/clinkz.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="mid Box">
      <div class="header"><h3>SUPPORT</h3></div>
      <ul>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/hoodwink.png"
            />
            <div class="backgroundBox first"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/chen.png"
            />
            <div class="backgroundBox second"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/clockwerk.png"
            />
            <div class="backgroundBox third"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img src="../../../../assets/images/heroimages/STRENGTH/io.png" />
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/enigma.png"
            />
            <div class="backgroundBox fourth"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/jakiro.png"
            />
            <div class="backgroundBox fifth"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/nyx_assassin.png"
            />
            <div class="backgroundBox sixth"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/snapfire.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/phoenix.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/dark_seer.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/monkey_king.png"
            />
            <div class="backgroundBox seventh"></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="right Box">
      <div class="header"><h3>AVOID</h3></div>
      <ul>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/pangolier.png"
            />
            <div class="backgroundBox avoid1"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/ember_spirit.png"
            />
            <div class="backgroundBox avoid2"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/dawnbreaker.png"
            />
            <div class="backgroundBox avoid3"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/centaur.png"
            />
            <div class="backgroundBox avoid4"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/tidehunter.png"
            />
            <div class="backgroundBox avoid5"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/batrider.png"
            />
            <div class="backgroundBox avoid6"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/STRENGTH/doom_bringer.png"
            />
            <div class="backgroundBox avoid7"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/dazzle.png"
            />
            <div class="backgroundBox avoid7"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/dark_willow.png"
            />
            <div class="backgroundBox avoid7"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/AGILITY/morphling.png"
            />
            <div class="backgroundBox avoid7"></div>
          </div>
        </li>
        <li>
          <div class="heroContainer">
            <img
              src="../../../../assets/images/heroimages/INTELLIGENCE/dazzle.png"
            />
            <div class="backgroundBox avoid7"></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
