<div class="mainContainer">
  <div class="titleBox">
    <h2>CHOOSE YOUR HERO</h2>
  </div>
  <div class="sectionContainer">
    <div class="leftSection">
      <div class="heroContainer">
        <app-strength-heroes></app-strength-heroes>
      </div>
      <div class="heroContainer">
        <app-agility-heroes></app-agility-heroes>
      </div>
      <div class="heroContainer">
        <app-intelligence-heroes></app-intelligence-heroes>
      </div>
    </div>
    <div class="rightSection">
      <app-hero-details-main></app-hero-details-main>
    </div>
  </div>
</div>
