p {
  margin: 0;
  color: white;
  // background-color: blue;
  // display: block;
}

.classLogo {
  width: 25px
}

.agiHeroContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-flow: wrap;
img {
    width: 80px;
    height: 65px;
    margin: 3px;
    transition: transform 0.4s;
    border-radius: 2px;
    // transition-property: opacity, bottom;
    //   transition-timing-function: ease-out;

  }

  img:hover {
    transform: scale(1.9)
  }

}

.heroImageContainer {
  margin: 4px;
  border: 2px black solid;
}
