<div class="superContainer">
  <div class="mainContainer">
    <div class="leftContainer">
      <div class="outer teamBox">
        <div class="team picks"></div>
        <div class="lower lowerTeamBox"></div>
      </div>

      <div class="outer teamBox">
        <div class="team picks"></div>
        <div class="lower lowerTeamBox"></div>
      </div>

      <div class="outer teamBox">
        <div class="team picks"></div>
        <div class="lower lowerTeamBox"></div>
      </div>

      <div class="outer teamBox">
        <div class="team picks"></div>
        <div class="lower lowerTeamBox"></div>
      </div>

      <div class="outer teamBox">
        <div class="team picks"></div>
        <div class="lower lowerTeamBox"></div>
      </div>
    </div>

    <div class="rightContainer">
      <div class="outer enemyBox">
        <div class="enemy picks"></div>
        <div class="lower lowerEnemyBox"></div>
      </div>

      <div class="outer enemyBox">
        <div class="enemy picks"></div>
        <div class="lower lowerEnemyBox"></div>
      </div>

      <div class="outer enemyBox">
        <div class="enemy picks"></div>
        <div class="lower lowerEnemyBox"></div>
      </div>

      <div class="outer enemyBox">
        <div class="enemy picks"></div>
        <div class="lower lowerEnemyBox"></div>
      </div>

      <div class="outer enemyBox">
        <div class="enemy picks"></div>
        <div class="lower lowerEnemyBox"></div>
      </div>
    </div>
  </div>
</div>
